.services__item {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  height: 100%;
}
.services__item:hover {
  transform: translateY(-10px);
}
.services__item span i {
  font-size: 2.2rem;
  background: var(--primary-color);
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  font-weight: 400 !important;
}
.services__item h3 {
  color: var(--primary-color);
  font-size: 1.1rem;
}
.services__item p {
  font-size: 0.9rem;
}
