.cart__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.767);
  z-index: 999999;
}
.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: #fff;
  z-index: 99999999;
}
.cart__item-info img {
  width: 80px;
}
.cart__product-title {
  font-size: 0.8rem;
  font-weight: 600;
}
.cart__product-price {
  font-size: 0.8rem;
}
.cart__product-price span {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary-color);
}
.cart__item-increase {
  background: var(--primary-color);
  color: #fff;
  padding: 2px 3px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.cart__item-increase :is(span:first-child, span:last-child) {
  cursor: pointer;
}
.delete__btn {
  font-size: 1.1rem;
  font-weight: 600;
}
.cart__item {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--card-bg-03) !important;
  padding: 5px;
}

.cart__close {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
}
.cart__close span {
  font-size: 1.3rem;
  background: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart__item-list {
  height: calc(100vh - 130px);
  overflow-y: auto;
}
.cart__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--primary-color);
}
.cart__bottom h6 {
  font-size: 1rem;
  color: #fff;
}
.cart__bottom h6 span {
  font-size: 1.3rem;
  font-weight: 600;
}
.cart__bottom button {
  all: unset;
  padding: 4px 20px;
  border-radius: 5px;
  background: #fff;
  color: var(--primary-color);
}
.cart__bottom button a {
  color: inherit;
  width: 100%;
  display: inherit;
}
.btn_disable {
  pointer-events: none !important;
  opacity: 0.8 !important;
}
@media screen and (max-width: 480px) {
  .cart {
    width: 293px;
  }
}
