.addToCart {
  margin-top: 2rem;
  font-size: 1.2rem;
  padding: 5px 8px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 8px;
}
.product__details {
  margin-top: 50px;
}
.product__details h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.product__rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}
.product__rating span {
  color: coral;
  font-size: 1.3rem;
}
.product__price {
  font-size: 1.3rem;
  font-weight: 500;
}
