.buy__btn {
  border: none;
  outline: none;
  padding: 8px 20px;
  margin-top: 1rem;
  border-radius: 5px;
  background: #fff;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s;
}
.buy__btn a:hover {
  color: inherit;
}
.buy__btn:hover {
  transform: scale(1.1);
}
