.product__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.layout__row img{
  width: 450px;
  height: 250px;
  object-fit: contain;
}
.product__info .product__name {
  font-size: 1.1rem;
  color: var(--primary-color);
  font-weight: var(--font-bold);
}
.product__name a:hover {
  color: inherit;
}
.product__info span {
  font-size: 0.9rem;
}
.Product__Cart-bottom .price {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--primary-color);
}
.Product__Cart-bottom span i {
  font-size: 1.2rem;
  padding: 5px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}
.Product__Cart-bottom span:nth-child(2) {
  transition: transform 0.3s;
}
.Product__Cart-bottom span:nth-child(2):hover {
  transform: scale(1.2);
}
